.console{

    padding: 1% 3%;



}

.console label{
    color: white;
    font-size: 20px;
    
}

.console input{
    width: 100%;
}


.console-buttons{
    border: solid white 3px;
    background-color: white;
    overflow-y: scroll;
    height: 100%;
}

.console-entrys .form-control{
    margin-bottom: 1%; 
}
